.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 auto;
  margin: 0 auto;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list {
  display: none;
}
.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link-name-top {
  color: #2e2f42;
}
.address-box {
  margin-bottom: 48px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}
.header-list-item {
  margin-bottom: 24px;
}
.link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
}
.link.current {
  color: #404bbf;
}
.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link.current {
  color: #4d5ae5;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #2e2f42;
  background-color: #fff;
  padding-left: 16px;
  padding-bottom: 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-header-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 72px;
  margin-bottom: auto;
  font-size: 36px;
  font-weight: 700;
}
.mobile-social-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 280px;
}

/* mobile-main */
@media screen and (min-width: 320px) {
  .page-title {
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    padding-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #2e2f42;
    max-width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  .button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }

  /* mobile-advanteges */
  .advanteges {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
  }
  .advanteges .advanteges-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .advanteges-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .advanteges-icon {
    display: none;
  }
  /* mobile-team */
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .team-card {
    padding-top: 96px;
    margin-right: auto;
    display: flex;
    padding-bottom: 96px;
  }
  .names {
    font-weight: 700;
    line-height: 24px;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    padding-bottom: 8px;
  }
  .team-members-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .team-members-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .text {
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .team-members-item {
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .advanteges-text {
    text-align: left;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 8px;
  }
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
  .social-icon {
    fill: #f4f4fd;
  }
  .social-item {
    width: 40px;
    height: 40px;
  }
  .team-members-item:last-child {
    margin-bottom: 96;
  }
  /* mobile-services */
  .services {
    margin-top: 96px;
    margin-bottom: 96px;
  }
  .service-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 2%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .service-name-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .service-name {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .service-text {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .service-titles-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 48px;
  }
  .service-titles-item {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .hidden-text {
    display: none;
  }
  /* mobile-footer */
  .page-footer {
    background: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
  }
  .bottom-container {
    display: flex;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
  }
  .logo-bottom {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
  }
  .link-name-bottom {
    color: #f4f4fd;
  }
  .text-footer {
    max-width: 100%;
    margin-top: 16px;
  }
  .info-container {
    padding-bottom: 72px;
  }
  .footer-social-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
  .footer-links {
    margin-bottom: 72px;
  }
  .bottom-sub {
    display: flex;
    gap: 24px;
  }
  .bottom-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
  }
  .bottom-email {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .bottom-btn {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: auto;
    margin-top: 16px;
  }
  .sub-icon {
    margin-left: 16px;
  }
  .bottom-btn:hover,
  .bottom-btn:focus {
    background-color: #404bbf;
  }
  .bottom-email::placeholder {
    color: #fff;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .modal {
    position: absolute;
    padding: 72px 24px 24px;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }
  .modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .modal-form {
    margin: 0 auto;
    width: 100%;
  }
  .modal-field {
    margin-bottom: 8px;
  }
  .modal-field-wrap {
    position: relative;
  }
  .modal-input {
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input:focus-within {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
    width: 100%;
    height: 40px;
  }
  .input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    position: absolute;
    left: 16px;
    margin-bottom: 8px;
    fill: #2e2f42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-input:focus + .input-icon {
    fill: #4d5ae5;
  }
  .modal-input-title {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
  }
  .comment-box {
    margin-bottom: 16px;
  }
  .input-comment-box {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .input-comment-box:focus {
    border-color: #4d5ae5;
  }
  .checkbox-container {
    display: inline-flex;
    margin-bottom: 24px;
    width: 360px;
  }
  .checkbox-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .privacy-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
  }
  .modal-checkbox:checked + .privacy-checkbox > .checkbox-icon {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
  }
  .policy {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }
  .modal-btn {
    display: block;
    margin: 0 auto;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mobile-menu {
    display: none;
  }

  .burger-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .logo-top {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-list-item {
    margin-bottom: 0;
  }
  .link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link.current {
    position: relative;
  }
  .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-nav .link:hover,
  .page-nav .link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .link.current {
    color: #404bbf;
  }
  .page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    padding-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #2e2f42;
    max-width: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }

  .button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }

  .advanteges {
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advanteges .advanteges-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advanteges-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .team-names {
    font-weight: 500;
    line-height: 1.11111;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }
  .team-card .team-members-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
  .team-members-item {
    max-width: 264px;
    flex-basis: calc((100% - 64px) / 2);
  }

  .service-titles-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
  }
  .service-titles-item {
    gap: 72px 24px;
  }
  footer .bottom-container {
    display: flex;
    flex-direction: row;
    gap: 72px;
    align-items: center;
  }
  .info-container {
    max-width: 264px;
    text-align: left;
  }
  .bottom-form-container {
    gap: 16px 24px;
  }
  .bottom-form-title {
    text-align: left;
  }
  .bottom-form {
    display: flex;
    gap: 24px;
  }
  .bottom-email {
    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  .footer-links {
    margin-bottom: 104px;
  }
  .bottom-sub {
    display: flex;
    gap: 24px;
  }
  .modal {
    width: 408px;
  }
  .bottom-btn {
    margin-top: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  .header {
    padding: 0 15px;
  }
  .logo-top {
    margin-right: 76px;
  }
  .header-list-item {
    margin-bottom: 0;
  }
  .contacts-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .advanteges-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .advanteges-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .advanteges-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
  }
  .team-card .team-members-list {
    margin-top: 72px;
    gap: 24px;
  }
  .info-container {
    padding-bottom: 0;
  }
  .footer-links {
    margin-bottom: 0;
  }
  .modal {
    width: 408px;
  }
}
